{{define "title"}}Login{{end}}

{{define "main"}}
<form action='/login' method='POST' novalidate>
    <!-- Include the CSRF token -->
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{range .Form.NonFieldErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label class="block text-gray-500">Email</label>
        {{with .Form.FieldErrors.email}}
            <span class="error block mt-3 mb-4 text-red-500 text-sm">{{.}}</span>
        {{end}}
        <input class="block sm:max-w-xs rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-900" type='email' name='email' value='{{.Form.Email}}'>
    </div>
    <div class="mt-6">
        <label class="block text-gray-500">Password</label>
        {{with .Form.FieldErrors.password}}
            <span class="error block mt-3 mb-4 text-red-500 text-sm">{{.}}</span>
        {{end}}
        <input class="block sm:max-w-xs rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-900" type='password' name='password'>
    </div>
    <div class="mt-8">
        <input type='submit' value='Login' class="py-3 px-6 rounded-md text-sm bg-gray-950 text-gray-50 cursor-pointer hover:bg-gray-800">
    </div>
</form>
{{end}}

{{define "footer"}}
    <p class="text-gray-700">Hi, I’m Benito Lopez. This application is intended for my personal use only to manage and share code snippets with my clients. It is not available for public submissions. If you are interested in the source code, you can view it on my GitHub <a class="text-gray-950 hover:text-gray-400 font-medium" href="https://github.com/benitolopez/ssnipp">repository</a>.</p>
    <p class="text-gray-700 mt-2">Want to see a snippet example? <a class="text-gray-950 hover:text-gray-400 font-medium" href="/view/1">Click here</a>.</p>
{{end}}
